html,

/*This class is applied to the top of the DOM*/
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
    background-color: rgb(245, 245, 245);
}

.container {
  margin: 80px auto 0 auto;
  max-width: 1200px;
}
.nav-container{
  margin:auto;
}

.nav-container svg{
  color:#fff
}

/*Styling the anchor tag so that it is not blue and not underlined*/
a{
  text-decoration: none;
}